# Data Camp tutorial - badly written examples IMO

https://www.datacamp.com/community/tutorials/python-list-comprehension

Lists, strings, tuples, sets are all examples of "sequence types"...they can all be iterated.

In [7]:
S = [x**2 for x in [0,1,2,3,4]]

In [16]:
S = [x**2 for x in range(10)]

S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
V = [2**i for i in range(10)]
V

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [12]:
M = [x for x in S if x % 2 == 0]

M

In [20]:
X = []
for x in range(10):
    X.append(x**2)
    
X

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
Q = [x**3 for x in range(11)]
Q

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

List comprehension is an alternative to:
- for loops
- lambda functions
- map()
- filter()
- reduce()

## Replacing for loops

- list comprehensions are generally quicker

In [23]:
numbers= range(10)
new_list = []

for n in numbers:
    if n%2 == 0:
        new_list.append(n**2)
        
print(new_list)

[0, 4, 16, 36, 64]

In [26]:
%timeit

new_list = [n**2 for n in range(10) if n%2 == 0]
new_list

[0, 4, 16, 36, 64]

## replacing Lambda func and map

In [27]:
kilometer = [39.2, 36.5, 37.3, 37.8]

In [28]:
feet = map(lambda x: float(3280.8399)*x, kilometer)

In [30]:
print(list(feet))

[128608.92408000001, 119750.65635, 122375.32826999998, 124015.74822]

In [33]:
feet = [x*float(3280.8399) for x in kilometer]
feet

[128608.92408000001, 119750.65635, 122375.32826999998, 124015.74822]

In [35]:
int(feet)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [36]:
sum(feet)

494750.65692000004

## Can place multiple if conditions

In [53]:
%timeit

new_list = [n**2 for n in range(10) if n%2 == 0 if n**2 <= 50 if n**2 > 4]
new_list

[16, 36]

## if else statements

# Cheap intro to comprehension

https://medium.com/the-andela-way/a-cheap-introduction-to-comprehension-in-python-2269895f996f

new_list = [expression **for** each_item **in** existing_data_structure].

###  lists comprehnesion

In [54]:
letters = ['a','b','c','d','e','f']

capital_letters = []

for each_letter in letters:
    capital_letters.append(each_letter.upper())
    
print(capital_letters)

['A', 'B', 'C', 'D', 'E', 'F']

faster and less code...

In [55]:
capital_letters = [each_letter.upper() for each_letter in letters]
capital_letters

['A', 'B', 'C', 'D', 'E', 'F']

below is even faster..

In [56]:
capital_letters = list("".join(letters).upper())
capital_letters

['A', 'B', 'C', 'D', 'E', 'F']

# dictionary comprehension

In [58]:
students = {"dennis":23,'david':21,'mary':9,'daniel':25}

voting_students = []

for key,value in students.items(): # note use items to get keys and values
    if value >= 18:
        voting_students.append(key)
        
voting_students

['daniel', 'dennis', 'david']

In [63]:
students = {"dennis":23,'david':21,'mary':9,'daniel':25}

voting_students = []

for entry in students: # note use items to get keys and values
    if students[entry] >= 18:
        voting_students.append(entry)
        
voting_students

['daniel', 'dennis', 'david']

In [65]:
voting_students = [key for key, value in students.items() if value >= 18]
voting_students

['daniel', 'dennis', 'david']

In [68]:
voting_students = [[key,value] for key, value in students.items() if value >= 18]
voting_students

[['daniel', 25], ['dennis', 23], ['david', 21]]

## comphrehension

{ expression **for** each_item **in** existing_data_structure }

In [73]:
words = set(["KING", "QUEEN", "MEN", "DREAMS", "MEN","king"])

capital_words = set()

for each_word in words:
    capital_words.add(each_word.title())
    
capital_words

{'Dreams', 'King', 'Men', 'Queen'}

In [74]:
capital_words = {each_word.title() for each_word in words}
capital_words

{'Dreams', 'King', 'Men', 'Queen'}

In [69]:
'king'.title()

'King'

In [70]:
'king'.upper()

'KING'

#### example 2: with filter

In [75]:
numbers = [1, 24, 35, 12, 67, 2, 24, 81, 2, 45, 89, 12]

even_numbers = set()

for number in numbers:
    if number % 2 == 0:
        even_numbers.add(number)
        
even_numbers

{2, 12, 24}

In [78]:
even_numbers = {number for number in numbers if number % 2 == 0}
even_numbers

{2, 12, 24}

## Dict comprehension

{ key:value **for** key,value **in** existing_data_structure }

- must use : at start, this is the difference between set  and dict comprehension

In [84]:
students = {"dennis": 23, "david": 21, "mary": 9, "daniel": 25, "darius": 17, "jim": 10, "marvin": 8}

upper_case_names = {}

for key, value in students.items():
    upper_case_names[key.upper()] = value
    
upper_case_names

{'DANIEL': 25,
 'DARIUS': 17,
 'DAVID': 21,
 'DENNIS': 23,
 'JIM': 10,
 'MARVIN': 8,
 'MARY': 9}

In [86]:
upper_case_names = {key.upper():value for key,value in students.items()}
upper_case_names

{'DANIEL': 25,
 'DARIUS': 17,
 'DAVID': 21,
 'DENNIS': 23,
 'JIM': 10,
 'MARVIN': 8,
 'MARY': 9}

# Nesting comrehensions

In [88]:
scores = [["dennis", 10], ["david", 12], ["joseph", 13]]

scores_dict = {}

for each_score in scores:
    name, score = each_score
    
    if score > 10:
        scores_dict[name] = score
        
scores_dict

{'david': 12, 'joseph': 13}

In [99]:
scores_dict = {name:score for name,score in [each_score for each_score in scores if each_score[1] > 10]}
scores_dict

{'david': 12, 'joseph': 13}

We have a list comprehension inside a dictionary comprehension. The list comprehension is used to generate new list of students whose score is greater than 10. This list is used by the dictionary comprehension to generate the required dictionary. Hence comprehension can be nested.

## Simple challenge

Load data from meals.txt as dict. Reform into format:

{
 'Beef': ['08:30 AM', '03:00 PM'],
 'Chapats': ['06:00 PM', '01:00 PM'],
 'Chips': ['06:30 PM', '08:50 AM'],
 'Coffee': ['08:30 PM', '03:30 PM', '07:00 AM'],
 'Pizza': ['01:10 PM', '08:45 PM', '05:00 PM'],
 'Rice': ['02:00 PM', '04:30 PM', '09:00 AM']
}

In [108]:


meals_dict = {}

# open file
with open("meals.txt") as meals:
    first_line = meals.readline()
    
    for each_line in meals:
        time, meal = each_line.strip().split(",",1)
        meals_dict[time] = meal.title()
    
meals_dict

{'13:00': 'Chapats',
 '13:10': 'Pizza',
 '14:00': 'Rice',
 '15:00': 'Beef',
 '15:30': 'Coffee',
 '16:30': 'Rice',
 '17:00': 'Pizza',
 '18:00': 'Chapats',
 '18:30': 'Chips',
 '20:30': 'Coffee',
 '20:45': 'Pizza',
 '7:00': 'Coffee',
 '8:30': 'Beef',
 '8:50': 'Chips',
 '9:00': 'Rice'}

In [115]:
new_meals_format = {}

for key, value in meals_dict.items():
    
    if value in new_meals_format.keys():
        new_meals_format[value].append(key)
        
    else:
        new_meals_format[value] = [key]
    
new_meals_format

{'Beef': ['15:00', '8:30'],
 'Chapats': ['13:00', '18:00'],
 'Chips': ['18:30', '8:50'],
 'Coffee': ['20:30', '15:30', '7:00'],
 'Pizza': ['17:00', '20:45', '13:10'],
 'Rice': ['16:30', '9:00', '14:00']}

And with list comp:

In [126]:
meals_dict = {}

# open file
with open("meals.txt") as meals:
    first_line = meals.readline()
    
    meals_dict = {time:meal.title() for time, meal in [each_line.strip().split(",",1)for each_line in meals]}

#     print(meals_dict)
    
    new_meals_dict = {value.title():[key] for key, value in meals_dict.items() }
    
#     print(new_meals_format)
    
new_meals_format

{'Beef': ['15:00', '8:30'],
 'Chapats': ['13:00', '18:00'],
 'Chips': ['18:30', '8:50'],
 'Coffee': ['20:30', '15:30', '7:00'],
 'Pizza': ['17:00', '20:45', '13:10'],
 'Rice': ['16:30', '9:00', '14:00']}

NOTE: i have no idea why you dont need an if statement in the comprehension case.